Structured-Product-Labeling-(SPL)/Schema/current/POCP_MT080200UV.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ex="urn:hl7-org/v3-example"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type POCP_MT080200UV.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* Saved in XML file by RMIM Designer in Visio at 2016-02-21T06:46:42
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.4.12
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8890 2012-11-27 02:38:05Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
/****************************************************************************************
  * Copyright (c) 2016 Health Level Seven International
  * All rights reserved. All contributors are assumed to participate freely in
  * IP sharing without restriction.  All licensing conforms to the Open Health
  * Tools IP Policy. http://www.openhealthtools.org/ip_policy.htm.
  * The Eclipse Public License shall serve as the primary license for the
  * contributions. http://www.eclipse.org/legal/epl-v10.html.
  *
  * Contributors: Health Level Seven International - initial implementation
  ****************************************************************************************/			
				--><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.4.12. Stylesheets:
Saved in XML file by RMIM Designer in Visio at 2016-02-21T06:46:42
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="infrastructureRoot-r2b.xsd"/>
   <xs:include schemaLocation="POCP_MT050600UV.xsd"/>
   <xs:include schemaLocation="POCP_MT081100UV.xsd"/>
   <xs:include schemaLocation="POCP_MT082100UV.xsd"/>
   <xs:complexType name="POCP_MT080200UV.Component">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="derivation" type="POCP_MT080200UV.Derivation" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional"
                    default="COMP"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT080200UV.Component2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="derivation" type="POCP_MT080200UV.Derivation" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional"
                    default="COMP"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT080200UV.Derivation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="directTarget" type="POCP_MT080200UV.DirectTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component" type="POCP_MT080200UV.Component" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="componentOf" type="POCP_MT080200UV.Component2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassProcedure" use="optional" default="PROC"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="optional" default="EVN"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT080200UV.DirectTarget">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="functionCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="presentSubstance" type="POCP_MT080200UV.PresentSubstance" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetDirect" use="optional" default="DIR"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT080200UV.Entity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassRoot" use="optional" default="ENT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT080200UV.OrganismStrain">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="deceasedInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="strainText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asSpecializedKind" type="POCP_MT080200UV.SpecializedKind" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassNonPersonLivingSubject" use="optional"
                    default="NLIV"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="optional"
                    default="KIND"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT080200UV.PresentSubstance">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="presentSubstance" type="POCP_MT081100UV.Substance" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="presentSubstance2" type="POCP_MT082100UV.Substance" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
         <xs:choice>
            <xs:element name="environmentEntity" type="POCP_MT080200UV.Entity" nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="environmentOrganismStrain" type="POCP_MT080200UV.OrganismStrain"
                        nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
         </xs:choice>
         <xs:element name="subjectOf" type="POCP_MT080200UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="productOf" type="POCP_MT080200UV.Product" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassSubstancePresence" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT080200UV.Product">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="functionCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="derivation" type="POCP_MT080200UV.Derivation" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationProduct" use="optional" default="PRD"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT080200UV.SpecializedKind">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="generalizedSpecies" type="POCP_MT080200UV.Species" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_MT080200UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassIsSpeciesEntity" use="optional" default="GEN"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT080200UV.Species">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassLivingSubject" use="optional" default="LIV"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="optional"
                    default="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT080200UV.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="document" type="POCP_MT050600UV.Document" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="characteristic" type="POCP_MT050600UV.Characteristic" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:element name="action" type="POCP_MT050600UV.Action" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
   </xs:complexType>
</xs:schema>
