product-monograph/schema/POCP_MT082100UV.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ex="urn:hl7-org/v3-example"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type POCP_MT082100UV.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* Saved in XML file by RMIM Designer in Visio at 2016-02-21T06:46:42
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.4.12
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8890 2012-11-27 02:38:05Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
/****************************************************************************************
  * Copyright (c) 2016 Health Level Seven International
  * All rights reserved. All contributors are assumed to participate freely in
  * IP sharing without restriction.  All licensing conforms to the Open Health
  * Tools IP Policy. http://www.openhealthtools.org/ip_policy.htm.
  * The Eclipse Public License shall serve as the primary license for the
  * contributions. http://www.eclipse.org/legal/epl-v10.html.
  *
  * Contributors: Health Level Seven International - initial implementation
  ****************************************************************************************/			
				--><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.4.12. Stylesheets:
Saved in XML file by RMIM Designer in Visio at 2016-02-21T06:46:42
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="infrastructureRoot-r2b.xsd"/>
   <xs:include schemaLocation="POCP_MT090100UV.xsd"/>
   <xs:include schemaLocation="POCP_MT050600UV.xsd"/>
   <xs:include schemaLocation="POCP_MT010300UV.xsd"/>
   <xs:include schemaLocation="POCP_MT080200UV.xsd"/>
   <xs:include schemaLocation="POCP_MT050500UV.xsd"/>
   <xs:complexType name="POCP_MT082100UV.Bond">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="positionNumber" type="INT" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="distalMoiety" type="POCP_MT082100UV.Moiety1" minOccurs="1" maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_MT082100UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="productOf" type="POCP_MT082100UV.Product" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="interactsIn" type="POCP_MT082100UV.Interactor3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassMolecularBond" use="optional" default="BOND"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100UV.Component">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="splitCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="joinCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="derivationProcess" type="POCP_MT082100UV.DerivationProcess"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional"
                    default="COMP"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100UV.ControlVariable">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="characteristic" type="POCP_MT050500UV.Characteristic" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasControlVariable" use="optional"
                    default="CTRLV"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100UV.DerivationProcess">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interactor" type="POCP_MT082100UV.Interactor2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="generalization" type="POCP_MT082100UV.Generalization1" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="controlVariable" type="POCP_MT082100UV.ControlVariable" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component" type="POCP_MT082100UV.Component" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf" type="POCP_MT082100UV.Subject2" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassProcedure" use="optional" default="PROC"/>
      <xs:attribute name="moodCode" type="ActMoodDefinition" use="optional" default="DEF"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100UV.EquivalentSubstance">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="definingSubstance" type="POCP_MT082100UV.Substance" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_MT082100UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassEquivalentEntity" use="optional"
                    default="EQUIV"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100UV.Generalization1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="derivationProcess" type="POCP_MT082100UV.DerivationProcess"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasGeneralization" use="optional"
                    default="GEN"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100UV.Generalization2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="interaction" type="POCP_MT082100UV.Interaction" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasGeneralization" use="optional"
                    default="GEN"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100UV.IdentifiedSubstance">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="identifiedSubstance" type="POCP_MT082100UV.Substance" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:choice>
            <xs:element name="assigningTerritory" type="POCP_MT082100UV.Territory" nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="assigningOrganization" type="POCP_MT082100UV.Organization"
                        nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
         </xs:choice>
         <xs:element name="subjectOf" type="POCP_MT082100UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="productOf" type="POCP_MT082100UV.Product" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="interactsIn" type="POCP_MT082100UV.Interactor3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassIdentifiedEntity" use="optional"
                    default="IDENT"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100UV.Interaction">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="interactor" type="POCP_MT082100UV.Interactor" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="generalization" type="POCP_MT082100UV.Generalization2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf" type="POCP_MT082100UV.Subject2" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="ActMoodDefinition" use="optional" default="DEF"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100UV.Interactor">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="functionCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="identifiedSubstance" type="POCP_MT082100UV.IdentifiedSubstance"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="presentSubstance" type="POCP_MT080200UV.PresentSubstance" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ReactionParticipant" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100UV.Interactor2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="functionCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="identifiedSubstance" type="POCP_MT082100UV.IdentifiedSubstance"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="presentSubstance" type="POCP_MT080200UV.PresentSubstance" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ReactionParticipant" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100UV.Interactor3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="functionCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interaction" type="POCP_MT082100UV.Interaction" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ReactionParticipant" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100UV.Moiety1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="TN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asSpecializedKind" type="POCP_MT010300UV.SpecializedKind" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="bond" type="POCP_MT082100UV.Bond" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="moiety" type="POCP_MT082100UV.Moiety2" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="optional"
                    default="MMAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="optional"
                    default="KIND"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100UV.Moiety2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="positionNumber" type="INT" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="partMoiety" type="POCP_MT082100UV.Moiety1" minOccurs="1" maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_MT082100UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="productOf" type="POCP_MT082100UV.Product" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="interactsIn" type="POCP_MT082100UV.Interactor3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassPart" use="optional" default="PART"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100UV.NamedEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="assigningTerritory" type="POCP_MT082100UV.Territory" nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="assigningOrganization" type="POCP_MT082100UV.Organization"
                        nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
         </xs:choice>
         <xs:element name="subjectOf" type="POCP_MT082100UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassIdentifiedEntity" use="optional"
                    default="IDENT"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100UV.Organization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="ON" minOccurs="0" maxOccurs="1"/>
         <xs:element name="territorialAuthority" type="POCP_MT082100UV.TerritorialAuthority"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="optional" default="ORG"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="optional"
                    default="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100UV.Policy">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassPolicy" use="optional" default="POLICY"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="optional" default="EVN"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100UV.Product">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="functionCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="derivationProcess" type="POCP_MT082100UV.DerivationProcess"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationProduct" use="optional" default="PRD"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100UV.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="policy" type="POCP_MT082100UV.Policy" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="substanceSpecification" type="POCP_MT090100UV.SubstanceSpecification"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:choice>
               <xs:choice>
                  <xs:element name="document" type="POCP_MT050600UV.Document" nillable="true" minOccurs="1"
                              maxOccurs="1"/>
                  <xs:element name="characteristic" type="POCP_MT050600UV.Characteristic" nillable="true"
                              minOccurs="1"
                              maxOccurs="1"/>
               </xs:choice>
               <xs:element name="action" type="POCP_MT050600UV.Action" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100UV.Subject2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="policy" type="POCP_MT082100UV.Policy" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="substanceSpecification" type="POCP_MT090100UV.SubstanceSpecification"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:choice>
               <xs:choice>
                  <xs:element name="document" type="POCP_MT050600UV.Document" nillable="true" minOccurs="1"
                              maxOccurs="1"/>
                  <xs:element name="characteristic" type="POCP_MT050600UV.Characteristic" nillable="true"
                              minOccurs="1"
                              maxOccurs="1"/>
               </xs:choice>
               <xs:element name="action" type="POCP_MT050600UV.Action" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasSubject" use="optional" default="SUBJ"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100UV.Substance">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asNamedEntity" type="POCP_MT082100UV.NamedEntity" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asEquivalentSubstance" type="POCP_MT082100UV.EquivalentSubstance"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asSpecializedKind" type="POCP_MT010300UV.SpecializedKind" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="moiety" type="POCP_MT082100UV.Moiety2" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="optional"
                    default="MMAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="optional"
                    default="KIND"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100UV.TerritorialAuthority">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="territory" type="POCP_MT082100UV.Territory" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassTerritoryOfAuthority" use="optional"
                    default="TERR"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100UV.TerritorialAuthority1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="governingOrganization" type="POCP_MT082100UV.Organization" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassTerritoryOfAuthority" use="optional"
                    default="TERR"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100UV.Territory">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="name" type="TN" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asTerritorialAuthority" type="POCP_MT082100UV.TerritorialAuthority1"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassState" use="optional" default="STATE"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="optional"
                    default="INSTANCE"/>
   </xs:complexType>
</xs:schema>